MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImNjODYxZTdkLWZhMzQtNDk1Zi05MjEzLTM5NTIyMmMxNDc3YiIsIm9yZ0lkIjoiNDQ3NDM3IiwidXNlcklkIjoiNDYwMzYyIiwidHlwZUlkIjoiYjNlZTRmNDYtZDUxMC00ZWU4LWE2MWItMDllMmUxYWU1OTdkIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NDc0MTc1MzEsImV4cCI6NDkwMzE3NzUzMX0.p7PdTKoq3cEHtDD1PDwAlvNzzEhiJ7x-0Z9qCAkAppg
PORT=3000